.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.artistBox {
  border: 2px solid black;
  margin: 20px;
  border-radius: 10px;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  animation-name: fadeIn;
}

.artistBox iframe {
  margin-bottom: 20px;
  
}

.artistBox a {
  margin: 10px;
}

@keyframes fadeIn {
  0% {  /* Style when animation is 0% done (At start)*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.187);
  }
  100% { /* Style when animation is 100% done (At Finish)*/
    box-shadow: 1px 12px 10px rgba(0, 0, 0, 0.187);
  }
}
